body{
	font-family: Segoe UI;
	color: #fff;
	font-size: 14px;
	background-color: #000;
	
}
header{
	padding: 20px 0;
}

#hero{
	background-image: url( ../img/slider-3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 200px 0;
}

#hero h1{
	font-size: 80px;
	font-weight: 700;
}

#hero p{
	font-size: 20px;
}

.btn-rectangulo{
	background-color: transparent;
	border:1px solid #fff;
	color: #fff;
	border-radius: 0;
	padding: 10px 40px;
	text-transform: lowercase;
	font-weight: 600;
}
.btn-rectangulo:hover{
	background-color: #fff;
	color: #000;
	
}

#services h3{
	font-size: 29px;
	font-weight:600;
	padding: 20px 0 5px 0; 
		
}

#services p{
	font-size: 16px;
	padding-bottom: 80px
}

#services h2{
	font-weight: 600;
	font-size: 50px
}

#services{
	padding: 130px 0 50px 0;
}

#scroll{
	padding: 100px 0;
}

#scroll .info-scroll{
	text-align: center;
	margin-bottom: 65px;
}

#scroll h4{
	font-weight: 600;
	font-size: 25px;
	padding-top: 20px;
}

#scroll h3{
	font-weight: 400;
	font-size: 26px;
}

#scroll p{
	font-weight: 500;
	font-size: 16px;
}

#clients{
	padding: 60px 30px;
	margin: auto;
	align-content: center;
	
}
